<h1>Editing Super Topic:<i style="color: blue"> <%= @super_topic.caption %></i></h1>


<%= render 'form', super_topic: @super_topic %>

<hr>
<div>
	<%= link_to 'CANCEL & RETURN', super_topics_path , class: 'button' %>
	<% if current_user_admin? %>
	  <%= link_to 'DELETE THIS SuperTopic & ITS TOPICS', super_topic_path, class: 'scarybutton', method: :delete, data: {confirm: "Are you sure you want to delete #{@caption}?"} %>
	  <% end %>
</div>
