<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @super_topic.caption %>
</p>

<%= link_to 'Edit', edit_super_topic_path(@super_topic) %> |
<%= link_to 'Back', super_topics_path %>
