<h1>Editing Publication: <i style="color: blue"><%= @publication.client.client_name %>/<%= @publication.pub_name %></i></h1>

<%= render 'form', publication: @publication %>
<hr>
<div>
	<% if current_user_admin? %>
		<%= link_to 'DELETE THIS PUBLICATION & ALL ITS ARTICLES', client_publication_path(@publication.client, @publication), class: 'scarybutton', method: :delete, data: {confirm: "Are you sure you want to delete #{@publication.pub_name}?"} %>
  <% end %>
</div>